.root{
    -fx-background-color: linear-gradient(to bottom, #383838, #303030);
    -fx-font-size: 15;
    -fx-text-fill: black;
}


/*Views*/

.startMenuView{
    -fx-padding: 20;
}


.startImageView {
    -fx-pref-width: 300;
}

.optionsView{
    -fx-alignment: Center;
    -fx-padding: 20;
    -fx-pref-height: 200;
}

.scoreview{
    -fx-alignment: top;
    -fx-pref-width: 300;
    -fx-padding: 20;
    -fx-spacing: 50;
}

.logview{
    -fx-alignment: top;
    -fx-pref-width: 300;
    -fx-padding: 20;
    -fx-spacing: 30;
}

.fieldview{
    -fx-alignment: center;
    -fx-pref-width: 600;
}


/* Labels */

.label{
    -fx-text-fill: #e8e8e8;
    -fx-effect: innershadow( three-pass-box , rgba(200,200,220,0.7) , 5, 0.0 , 0 , 1 );
    -fx-effect: dropshadow( three-pass-box , rgba(20,20,20,0.5) , 5, 0.0 , 0 , 1 );
}

.menu-bar .label {
   -fx-font-weight: 900;
    -fx-effect: none;
}

.labelWarning{
    -fx-text-fill: #ee6060;
}

.labelCurrentPlayer{
    -fx-effect: innershadow( three-pass-box , rgba(200,200,220,0.7) , 5, 0.0 , 0 , 1 );
    -fx-highlight-fill: white;
}

.labelOtherPlayer{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 1 );
    -fx-highlight-fill: black;
}

.labelPut{
    -fx-text-fill: #90ccee;
}

.labelLost{
    -fx-text-fill: #ee6060;
}

.labelKilled{
    -fx-text-fill: #90ee90;
}

.labelTitle{
    -fx-font-family: "Arial Black";
    -fx-font-size: 20;
}

.biglabel{
    -fx-font-size: 20;
}


/*Buttons*/

.button{
    -fx-background-color: #c2eafc;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.3) , 5, 0.0 , 0 , 1 );
}

.toggleButtonOff{
    -fx-background-color: #ffaaaa;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.3) , 5, 0.0 , 0 , 1 );
}

.toggleButtonOn{
    -fx-background-color: #aaffaa;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.3) , 5, 0.0 , 0 , 1 );
}

.radio-button{
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.15) , 5, 0.0 , 0 , 1 );
}

